@import url(https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap);





body {
  font-family: Rubik;
}
.display-1 {
  font-family: 'Rubik', sans-serif;
  font-size: 4.25rem;
  font-display: swap;
}
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 {
  font-family: 'Rubik', sans-serif;
  font-size: 3rem;
  font-display: swap;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
  font-display: swap;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.25rem;
  font-display: swap;
}
.display-7 > .mbr-iconfont {
  font-size: 2rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #149dcc !important;
}
.bg-success {
  background-color: #f7ed4a !important;
}
.bg-info {
  background-color: #099b00 !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #149dcc !important;
  border-color: #149dcc !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-info,
.btn-info:active {
  background-color: #099b00 !important;
  border-color: #099b00 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #054e00 !important;
  border-color: #054e00 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #054e00 !important;
  border-color: #054e00 !important;
}
.btn-success,
.btn-success:active {
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
  color: #3f3c03 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #879a9f !important;
  border-color: #879a9f !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #0b566f;
  color: #0b566f;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #149dcc;
  border-color: #149dcc;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #149dcc !important;
  border-color: #149dcc !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #cc0033;
  color: #cc0033;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #ff3366;
  border-color: #ff3366;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #033500;
  color: #033500;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #099b00;
  border-color: #099b00;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #099b00 !important;
  border-color: #099b00 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #d2c609;
  color: #d2c609;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #3f3c03;
  background-color: #f7ed4a;
  border-color: #f7ed4a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #3f3c03 !important;
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #149dcc !important;
}
.text-secondary {
  color: #ff3366 !important;
}
.text-success {
  color: #f7ed4a !important;
}
.text-info {
  color: #099b00 !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #0b566f !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #cc0033 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #d2c609 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #033500 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #099b00;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #149dcc;
  border-color: #149dcc;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #149dcc;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b4e6f8;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #29ff1c;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Rubik', sans-serif;
  font-size: 1.25rem;
  font-display: swap;
}
.form-control > .mbr-iconfont {
  font-size: 2rem;
}
blockquote {
  border-color: #149dcc;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.form2 .form-control {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.form2 .input-group-btn a.btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form2 .input-group-btn button[type="submit"] {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form3 input[type="email"] {
  border-radius: 100px !important;
}
@media (max-width: 349px) {
  .form2 input[type="email"] {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn a.btn {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn button[type="submit"] {
    border-radius: 100px !important;
  }
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #149dcc;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #149dcc;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto !important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #149dcc;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #149dcc;
  border-bottom-color: #149dcc;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #149dcc !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #ff3366 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23149dcc' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.3;
}
.cid-s5noQviEGC {
  background-image: url("../../../assets/images/super-chickens-background-1-2000x1374.jpg");
}
.cid-s5noQviEGC .mbr-text,
.cid-s5noQviEGC .mbr-section-btn {
  color: #f9f295;
}
.cid-s5RgntJCrV {
  padding-top: 15px;
  padding-bottom: 90px;
  background-color: #95e2e4;
}
.cid-s5RgntJCrV .mbr-section-subtitle {
  color: #767676;
  font-weight: 300;
}
.cid-s5RgntJCrV .mbr-content-text {
  color: #232323;
  margin-bottom: 0;
}
.cid-s5RgntJCrV .card {
  word-wrap: break-word;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}
.cid-s5RgntJCrV .cards-container {
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  word-break: break-word;
}
.cid-s5RgntJCrV .media-block {
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}
@media (min-width: 992px) {
  .cid-s5RgntJCrV .media-block {
    padding-left: 2rem;
  }
}
.cid-s5RgntJCrV .cards-block {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
@media (max-width: 991px) {
  .cid-s5RgntJCrV .media-block {
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
    padding-left: 0;
    padding-bottom: 2rem;
  }
}
@media (min-width: 768px) {
  .cid-s5RgntJCrV .count {
    width: 100px;
  }
}
@media (max-width: 767px) {
  .cid-s5RgntJCrV .panel-item {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .cid-s5RgntJCrV .card-img {
    padding-bottom: 1rem;
    padding-right: 0 !important;
    margin: auto;
  }
}
.cid-s5RgntJCrV .media-container-row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.cid-s5RgntJCrV .count {
  color: #9d8300;
  text-align: center;
}
.cid-s5RgntJCrV H3 {
  color: #9d8300;
}
.cid-s5nqeNAJwy {
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: url("../../../assets/images/1.jpeg");
}
.cid-s5nqeNAJwy .card-box {
  padding: 1rem 2rem 2rem;
}
.cid-s5nqeNAJwy h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
  padding-top: 2rem;
}
.cid-s5nqeNAJwy p {
  margin-bottom: 0;
  text-align: left;
  padding-top: 1.5rem;
  padding-top: 2rem;
}
.cid-s5nqeNAJwy .mbr-section-btn {
  padding-top: 2.5rem;
}
.cid-s5nqeNAJwy .mbr-section-btn a {
  margin: 0;
}
.cid-s5nqeNAJwy .mbr-text {
  color: #767676;
}
.cid-s5nqeNAJwy .card-wrapper {
  height: 100%;
}
@media (max-width: 767px) {
  .cid-s5nqeNAJwy .card:not(.last-child) {
    padding-bottom: 2rem;
  }
}
.cid-s5nqeNAJwy .card-title {
  text-align: center;
}
.cid-s5nqeNAJwy .mbr-text,
.cid-s5nqeNAJwy .mbr-section-btn {
  text-align: center;
  color: #232323;
}
.cid-s5nqeNAJwy .input {
  position: relative;
  font-size: 2em;
  background: linear-gradient(21deg, #10abff, #1beabd);
  padding: 3px;
  display: inline-block;
  border-radius: 9999em;
}
.cid-s5nqeNAJwy .input *:not(span) {
  position: relative;
  display: inherit;
  border-radius: inherit;
  margin: 0;
  border: none;
  outline: none;
  padding: 0 0.325em;
  z-index: 1;
}
.cid-s5nqeNAJwy .input *:not(span):focus + span {
  opacity: 1;
  transform: scale(1);
}
.cid-s5nqeNAJwy .input span {
  transform: scale(0.993, 0.94);
  transition: transform 0.5s, opacity 0.25s;
  opacity: 0;
  position: absolute;
  z-index: 0;
  margin: 4px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  pointer-events: none;
  box-shadow: inset 0 0 0 3px #ffffff, 0 0 0 4px #ffffff, 3px -3px 30px #1beabd, -3px 3px 30px #10abff;
}
.cid-s5nqeNAJwy html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
  font-size: 1em;
}
.cid-s5nqeNAJwy body {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-s5nqeNAJwy html,
.cid-s5nqeNAJwy body {
  height: 100%;
}
.cid-s5nqeNAJwy input {
  font-family: inherit;
  line-height: inherit;
  color: #2e3750;
  min-width: 1em;
}
.cid-s5nqeNAJwy ::placeholder {
  color: #cbd0d5;
}
.cid-s5nqeNAJwy html::after {
  content: "";
  background: linear-gradient(21deg, #10abff, #1beabd);
  height: 3px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.cid-s5nqeNAJwy P {
  text-align: center;
}
.cid-s5nqeNAJwy .mbr-text1,
.cid-s5nqeNAJwy .mbr-section-btn {
  color: #c4bc3b;
}
.cid-s5nqeNAJwy .text1,
.cid-s5nqeNAJwy .mbr-section-btn {
  color: #b2ccd2;
  text-align: right;
}
.cid-s5FQMAx9cQ {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-s5FQMAx9cQ .mbr-section-subtitle {
  color: #767676;
}
.cid-s5FQMAx9cQ H2 {
  color: #232323;
}
.cid-s5FQMAx9cQ H4 {
  color: #099b00;
}
.cid-s5nzCUPph9 {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-s5nzCUPph9 .pricing {
  padding: 3.3rem;
  color: #767676;
  background-color: #fff;
}
@media (max-width: 767px) {
  .cid-s5nzCUPph9 .pricing {
    padding: 1.5rem;
  }
}
.cid-s5nzCUPph9 .plan-header,
.cid-s5nzCUPph9 .plan-body {
  background-color: #fff;
}
.cid-s5nzCUPph9 .plan-title {
  margin-top: 1.4rem;
  text-align: right;
  color: #ff3366;
}
.cid-s5nzCUPph9 .price-figure {
  font-weight: 700;
  color: #099b00;
  text-align: center;
}
@media (max-width: 550px) {
  .cid-s5nzCUPph9 .price-figure {
    font-size: 4.25rem;
  }
}
.cid-s5nzCUPph9 .price-value {
  font-weight: 700;
  vertical-align: top;
  text-align: left;
  color: #55b4d4;
}
.cid-s5nzCUPph9 hr {
  margin: 2rem 0;
}
.cid-s5nzCUPph9 P {
  text-align: center;
  color: #767676;
}
.cid-s5nzCUPph9 .text1 {
  color: #099b00;
  text-align: center;
}
.cid-s5pusdGbfl {
  padding-top: 0px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-s5pusdGbfl P {
  color: #767676;
}
.cid-s5pusdGbfl .mbr-text,
.cid-s5pusdGbfl .mbr-section-btn {
  color: #232323;
}
.cid-s5pusdGbfl .mbr-text2,
.cid-s5pusdGbfl .mbr-section-btn {
  color: #099b00;
}
.cid-s5pusdGbfl .mbr-text2 {
  color: #099b00;
}
.cid-s5pusdGbfl .mbr-text {
  color: #149dcc;
}
.cid-s5nP7C6KQV {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #f9f9f9;
}
.cid-s5nP7C6KQV .mbr-section-btn > * {
  margin: 0;
}
.cid-s5nP7C6KQV h4 {
  font-weight: 500;
}
.cid-s5nP7C6KQV p {
  color: #232323;
}
.cid-s5nP7C6KQV .aside-content {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cid-s5nP7C6KQV .block-content {
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  word-break: break-word;
}
.cid-s5nP7C6KQV .media {
  margin: initial;
  align-items: center;
  -webkit-align-items: center;
}
.cid-s5nP7C6KQV .mbr-figure {
  align-self: flex-start;
  -webkit-align-self: flex-start;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.cid-s5nP7C6KQV .card-img {
  padding-right: 2rem;
  width: auto;
}
.cid-s5nP7C6KQV .card-img span {
  font-size: 72px;
  color: #707070;
}
@media (min-width: 992px) {
  .cid-s5nP7C6KQV .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-s5nP7C6KQV .mbr-figure {
    padding-right: 0;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 300px) {
  .cid-s5nP7C6KQV .card-img span {
    font-size: 40px !important;
  }
}
.cid-s5nP7C6KQV .cost {
  text-decoration: line-through;
  color: #767676;
}
.cid-s5nP7C6KQV .text1 {
  text-align: left;
}
.cid-s5nP7C6KQV .text2,
.cid-s5nP7C6KQV .mbr-section-btn {
  color: #099b00;
  text-align: center;
}
.cid-s5nP7C6KQV H2 {
  text-align: center;
}
.cid-s5nP7C6KQV .text3 {
  text-align: center;
}
.cid-s5nP7C6KQV .text4,
.cid-s5nP7C6KQV .mbr-section-btn {
  text-align: center;
  color: #149dcc;
}
.cid-s5nP7C6KQV .input {
  position: relative;
  font-size: 2em;
  background: linear-gradient(21deg, #10abff, #1beabd);
  padding: 3px;
  display: inline-block;
  border-radius: 9999em;
}
.cid-s5nP7C6KQV .input *:not(span) {
  position: relative;
  display: inherit;
  border-radius: inherit;
  margin: 0;
  border: none;
  outline: none;
  padding: 0 0.325em;
  z-index: 1;
}
.cid-s5nP7C6KQV .input *:not(span):focus + span {
  opacity: 1;
  transform: scale(1);
}
.cid-s5nP7C6KQV .input span {
  transform: scale(0.993, 0.94);
  transition: transform 0.5s, opacity 0.25s;
  opacity: 0;
  position: absolute;
  z-index: 0;
  margin: 4px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  pointer-events: none;
  box-shadow: inset 0 0 0 3px #ffffff, 0 0 0 4px #ffffff, 3px -3px 30px #1beabd, -3px 3px 30px #10abff;
}
.cid-s5nEY4uzRq {
  padding-top: 0px;
  padding-bottom: 90px;
  background-color: #f9f9f9;
}
.cid-s5nEY4uzRq .mbr-section-subtitle {
  color: #767676;
}
.cid-s5nEY4uzRq .container-table {
  margin: 0 auto;
}
.cid-s5nEY4uzRq .scroll {
  overflow-x: auto;
  padding: 0;
}
.cid-s5nEY4uzRq .dataTables_wrapper {
  display: block;
}
.cid-s5nEY4uzRq .dataTables_wrapper .search {
  margin-bottom: .5rem;
}
.cid-s5nEY4uzRq .dataTables_wrapper .table {
  overflow-x: auto;
}
.cid-s5nEY4uzRq table {
  width: 100% !important;
  margin-top: 6px;
  border: 1px solid #cccccc;
  margin-bottom: 0;
}
.cid-s5nEY4uzRq table th {
  border-top: none;
  transition: all .2s;
  border-bottom: none;
}
.cid-s5nEY4uzRq table th:hover {
  background: #cccccc;
  color: #000000;
}
.cid-s5nEY4uzRq table td {
  border-top: 1px solid #cccccc;
}
.cid-s5nEY4uzRq table.table {
  background: #ffffff;
}
.cid-s5nEY4uzRq .dataTables_filter {
  text-align: right;
  margin-bottom: .5rem;
}
.cid-s5nEY4uzRq .dataTables_filter label {
  display: inline;
  white-space: normal !important;
}
.cid-s5nEY4uzRq .dataTables_filter input {
  display: inline;
  width: auto;
  margin-left: .5rem;
  border-radius: 100px;
  padding-left: 1rem;
}
.cid-s5nEY4uzRq .dataTables_info {
  padding-bottom: 1rem;
  padding-top: 1rem;
  white-space: normal !important;
}
@media (max-width: 992px) {
  .cid-s5nEY4uzRq .dataTables_filter {
    text-align: center;
  }
}
@media (max-width: 350px) {
  .cid-s5nEY4uzRq .dataTables_filter {
    text-align: center;
  }
  .cid-s5nEY4uzRq .dataTables_filter input {
    width: 100% !important;
    margin-left: 0 !important;
  }
}
.cid-s5nEY4uzRq .head-item {
  text-align: center;
}
.cid-s5nEY4uzRq .body-item {
  text-align: center;
}
.cid-s5nEhsyZIc {
  padding-top: 45px;
  padding-bottom: 0px;
  background-color: #efefef;
}
.cid-s5nEhsyZIc h4 {
  text-align: left;
  font-weight: 500;
}
.cid-s5nEhsyZIc p {
  color: #767676;
  text-align: left;
  margin-bottom: 0;
}
.cid-s5nEhsyZIc .card-img {
  text-align: left;
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
  width: auto;
}
.cid-s5nEhsyZIc .card-img span {
  font-size: 72px;
  color: #ff3366;
}
.cid-s5nEhsyZIc .card-box {
  padding-left: 1rem;
  word-break: break-word;
  width: 100%;
}
@media (max-width: 991px) {
  .cid-s5nEhsyZIc .card-img {
    text-align: left;
    padding-bottom: 0.75rem;
  }
  .cid-s5nEhsyZIc .card-box {
    padding-left: 0;
  }
}
.cid-s5nEhsyZIc P {
  text-align: center;
  color: #149dcc;
}
.cid-s5nEhsyZIc .card-title,
.cid-s5nEhsyZIc .card-img {
  text-align: center;
  color: #232323;
}
.cid-s5nEhsyZIc H4 {
  text-align: left;
}
.cid-s5nEj6zChN {
  padding-top: 45px;
  padding-bottom: 60px;
  background-color: #efefef;
}
.cid-s5nEj6zChN h2 {
  margin-bottom: 0;
}
.cid-s5nEj6zChN h4 {
  font-weight: 500;
  margin-bottom: 0;
  width: 80%;
}
.cid-s5nEj6zChN p {
  color: #767676;
  margin-bottom: 0;
}
.cid-s5nEj6zChN .card-wrapper {
  border-top: 1px solid #efefef;
  background-color: #ffffff;
  position: relative;
  justify-content: unset;
}
.cid-s5nEj6zChN .card-wrapper .card-box {
  padding: 2rem 1rem;
  width: 100%;
}
.cid-s5nEj6zChN .card-wrapper .card-box .top-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cid-s5nEj6zChN .card-wrapper .card-box .bottom-line {
  width: 70%;
}
@media (max-width: 767px) {
  .cid-s5nEj6zChN .card-wrapper .card-box .bottom-line {
    width: 100%;
  }
  .cid-s5nEj6zChN .card-wrapper .card-box .bottom-line p {
    text-align: center;
    margin: 1rem 0 0 0;
  }
}
.cid-s5nEj6zChN H2 {
  text-align: left;
}
.cid-s5nEj6zChN .card-title {
  text-align: center;
  color: #232323;
}
.cid-s5nEj6zChN P {
  text-align: right;
}
.cid-s5nEj6zChN .mbr-section-subtitle {
  text-align: center;
  color: #149dcc;
}
.cid-s5nEj6zChN DIV {
  text-align: left;
}
.cid-s5WE0SnmFa {
  padding-top: 30px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/1.jpg");
}
.cid-s5WE0SnmFa .mbr-section-subtitle {
  color: #ffffff;
}
.cid-s5WE0SnmFa .container-table {
  margin: 0 auto;
}
.cid-s5WE0SnmFa .scroll {
  overflow-x: auto;
  padding: 0;
}
.cid-s5WE0SnmFa .dataTables_wrapper {
  display: block;
}
.cid-s5WE0SnmFa .dataTables_wrapper .search {
  margin-bottom: .5rem;
}
.cid-s5WE0SnmFa .dataTables_wrapper .table {
  overflow-x: auto;
}
.cid-s5WE0SnmFa table {
  width: 100% !important;
  margin-top: 6px;
  border: 1px solid #cccccc;
  margin-bottom: 0;
}
.cid-s5WE0SnmFa table th {
  border-top: none;
  transition: all .2s;
  border-bottom: none;
}
.cid-s5WE0SnmFa table th:hover {
  background: #cccccc;
  color: #000000;
}
.cid-s5WE0SnmFa table td {
  border-top: 1px solid #cccccc;
}
.cid-s5WE0SnmFa table.table {
  background: #ffffff;
}
.cid-s5WE0SnmFa .dataTables_filter {
  text-align: right;
  margin-bottom: .5rem;
}
.cid-s5WE0SnmFa .dataTables_filter label {
  display: inline;
  white-space: normal !important;
}
.cid-s5WE0SnmFa .dataTables_filter input {
  display: inline;
  width: auto;
  margin-left: .5rem;
  border-radius: 100px;
  padding-left: 1rem;
}
.cid-s5WE0SnmFa .dataTables_info {
  padding-bottom: 1rem;
  padding-top: 1rem;
  white-space: normal !important;
}
@media (max-width: 992px) {
  .cid-s5WE0SnmFa .dataTables_filter {
    text-align: center;
  }
}
@media (max-width: 350px) {
  .cid-s5WE0SnmFa .dataTables_filter {
    text-align: center;
  }
  .cid-s5WE0SnmFa .dataTables_filter input {
    width: 100% !important;
    margin-left: 0 !important;
  }
}
.cid-s5WE0SnmFa .head-item {
  text-align: center;
}
.cid-s5WE0SnmFa .body-item {
  text-align: center;
}
.cid-s5nGOZ6ise {
  padding-top: 45px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-s5nGOZ6ise .carousel-control {
  background: #000;
}
.cid-s5nGOZ6ise .mbr-section-subtitle {
  color: #767676;
  text-align: left;
}
.cid-s5nGOZ6ise .carousel-item {
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-s5nGOZ6ise .carousel-item .media-container-row {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.cid-s5nGOZ6ise .carousel-item .wrap-img {
  text-align: center;
}
.cid-s5nGOZ6ise .carousel-item .wrap-img img {
  max-height: 150px;
  width: auto;
  max-width: 100%;
}
.cid-s5nGOZ6ise .carousel-controls {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-s5nGOZ6ise .carousel-controls .carousel-control {
  background: #000;
  border-radius: 50%;
  position: static;
  width: 40px;
  height: 40px;
  margin-top: 2rem;
  border-width: 1px;
}
.cid-s5nGOZ6ise .carousel-controls .carousel-control.carousel-control-prev {
  left: auto;
  margin-right: 20px;
  margin-left: 0;
}
.cid-s5nGOZ6ise .carousel-controls .carousel-control.carousel-control-next {
  right: auto;
  margin-right: 0;
}
.cid-s5nGOZ6ise .carousel-controls .carousel-control .mbr-iconfont {
  font-size: 1rem;
}
.cid-s5nGOZ6ise .cloneditem-1,
.cid-s5nGOZ6ise .cloneditem-2,
.cid-s5nGOZ6ise .cloneditem-3,
.cid-s5nGOZ6ise .cloneditem-4,
.cid-s5nGOZ6ise .cloneditem-5 {
  display: none;
}
.cid-s5nGOZ6ise .col-lg-15 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  -webkit-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
}
@media (min-width: 992px) {
  .cid-s5nGOZ6ise .col-lg-15 {
    -ms-flex: 0 0 20%;
    -webkit-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    width: 20%;
  }
  .cid-s5nGOZ6ise .carousel-inner.slides2 > .carousel-item.active.carousel-item-right,
  .cid-s5nGOZ6ise .carousel-inner.slides2 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
  }
  .cid-s5nGOZ6ise .carousel-inner.slides2 > .carousel-item.active.carousel-item-left,
  .cid-s5nGOZ6ise .carousel-inner.slides2 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
  .cid-s5nGOZ6ise .carousel-inner.slides2 > .carousel-item.carousel-item-left,
  .cid-s5nGOZ6ise .carousel-inner.slides2 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-s5nGOZ6ise .carousel-inner.slides2 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-s5nGOZ6ise .carousel-inner.slides2 .cloneditem-1,
  .cid-s5nGOZ6ise .carousel-inner.slides2 .cloneditem-2,
  .cid-s5nGOZ6ise .carousel-inner.slides2 .cloneditem-3 {
    display: block;
  }
  .cid-s5nGOZ6ise .carousel-inner.slides3 > .carousel-item.active.carousel-item-right,
  .cid-s5nGOZ6ise .carousel-inner.slides3 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(33.333333%, 0, 0);
    transform: translate3d(33.333333%, 0, 0);
  }
  .cid-s5nGOZ6ise .carousel-inner.slides3 > .carousel-item.active.carousel-item-left,
  .cid-s5nGOZ6ise .carousel-inner.slides3 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-33.333333%, 0, 0);
    transform: translate3d(-33.333333%, 0, 0);
  }
  .cid-s5nGOZ6ise .carousel-inner.slides3 > .carousel-item.carousel-item-left,
  .cid-s5nGOZ6ise .carousel-inner.slides3 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-s5nGOZ6ise .carousel-inner.slides3 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-s5nGOZ6ise .carousel-inner.slides3 .cloneditem-1,
  .cid-s5nGOZ6ise .carousel-inner.slides3 .cloneditem-2,
  .cid-s5nGOZ6ise .carousel-inner.slides3 .cloneditem-3 {
    display: block;
  }
  .cid-s5nGOZ6ise .carousel-inner.slides4 > .carousel-item.active.carousel-item-right,
  .cid-s5nGOZ6ise .carousel-inner.slides4 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(25%, 0, 0);
    transform: translate3d(25%, 0, 0);
  }
  .cid-s5nGOZ6ise .carousel-inner.slides4 > .carousel-item.active.carousel-item-left,
  .cid-s5nGOZ6ise .carousel-inner.slides4 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
  }
  .cid-s5nGOZ6ise .carousel-inner.slides4 > .carousel-item.carousel-item-left,
  .cid-s5nGOZ6ise .carousel-inner.slides4 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-s5nGOZ6ise .carousel-inner.slides4 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-s5nGOZ6ise .carousel-inner.slides4 .cloneditem-1,
  .cid-s5nGOZ6ise .carousel-inner.slides4 .cloneditem-2,
  .cid-s5nGOZ6ise .carousel-inner.slides4 .cloneditem-3 {
    display: block;
  }
  .cid-s5nGOZ6ise .carousel-inner.slides5 > .carousel-item.active.carousel-item-right,
  .cid-s5nGOZ6ise .carousel-inner.slides5 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0);
  }
  .cid-s5nGOZ6ise .carousel-inner.slides5 > .carousel-item.active.carousel-item-left,
  .cid-s5nGOZ6ise .carousel-inner.slides5 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
  }
  .cid-s5nGOZ6ise .carousel-inner.slides5 > .carousel-item.carousel-item-left,
  .cid-s5nGOZ6ise .carousel-inner.slides5 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-s5nGOZ6ise .carousel-inner.slides5 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-s5nGOZ6ise .carousel-inner.slides5 .cloneditem-1,
  .cid-s5nGOZ6ise .carousel-inner.slides5 .cloneditem-2,
  .cid-s5nGOZ6ise .carousel-inner.slides5 .cloneditem-3,
  .cid-s5nGOZ6ise .carousel-inner.slides5 .cloneditem-4 {
    display: block;
  }
  .cid-s5nGOZ6ise .carousel-inner.slides6 > .carousel-item.active.carousel-item-right,
  .cid-s5nGOZ6ise .carousel-inner.slides6 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(16.666667%, 0, 0);
    transform: translate3d(16.666667%, 0, 0);
  }
  .cid-s5nGOZ6ise .carousel-inner.slides6 > .carousel-item.active.carousel-item-left,
  .cid-s5nGOZ6ise .carousel-inner.slides6 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-16.666667%, 0, 0);
    transform: translate3d(-16.666667%, 0, 0);
  }
  .cid-s5nGOZ6ise .carousel-inner.slides6 > .carousel-item.carousel-item-left,
  .cid-s5nGOZ6ise .carousel-inner.slides6 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-s5nGOZ6ise .carousel-inner.slides6 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-s5nGOZ6ise .carousel-inner.slides6 .cloneditem-1,
  .cid-s5nGOZ6ise .carousel-inner.slides6 .cloneditem-2,
  .cid-s5nGOZ6ise .carousel-inner.slides6 .cloneditem-3,
  .cid-s5nGOZ6ise .carousel-inner.slides6 .cloneditem-4,
  .cid-s5nGOZ6ise .carousel-inner.slides6 .cloneditem-5 {
    display: block;
  }
}
.cid-s5nGOZ6ise H2 {
  text-align: left;
}
